* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.menu,
header>.nav-logo {
    display: none;
}

/* ------------------------------------------------------------------------------------ */
/* Header styles */

.header {
    background-color: rgba(220, 20, 60, 0.53);
    padding: 3vh 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-logo h1 {
    font-weight: 900;
}

.nav ul {
    display: flex;
    flex: row;
    gap: 3vh;
}

.nav li {
    list-style: none;

}

.nav li a {
    padding: 1vh;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}

.nav-btn button {
    padding: 1vh 3vh;
    border-radius: 1vh;
    border: 1px solid yellow;
    background-color: aqua;
    font-size: 1rem;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------ */
/* Hero Styles */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 3vh;
    padding: 3vh 5vh;
    height: calc(100vh - (11.6px + 11.6px + 37.6px));
}

.hero-title,
.hero-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title h1 {
    font-size: 3rem;
}

.hero-description p {
    font-size: 1rem;
    opacity: 0.7;
}

.primary-btn button {
    padding: 2vh 5vh;
    border-radius: 2vh;
    border: none;
    background-color: rgba(255, 99, 71, 0.6);
    cursor: pointer;
    position: relative;
    transition: all 0.9s ease-in-out;
    z-index: 2;
    overflow: hidden;
}

.primary-btn button:hover {
    color: tomato;
}

.primary-btn button:before {
    position: absolute;
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 85%;
    height: 6.2vh;
    width: 2vh;
    border-radius: 2vh;
    transform: translateX(23vh);
    transition: all 0.7s ease-in-out;
    z-index: -2;
}

.primary-btn button:hover::before {
    transform: translateX(0.5vh);
}

.hero-img img {
    width: 100%;
    border-radius: 1vh;
}

/* ------------------------------------------------------------------------------------ */
/* Features Styles */

.features {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    padding: 3vh 5vh;
}

.features-left,
.features-right {
    width: 50%;
}

.features-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vh;
}

.features-left img {
    width: 100%;
    border-radius: 1vh;
}

.features-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    padding: 0vh 5vh;
}

.features-right {
    align-items: flex-start;
}

.features-title h1 {
    font-size: 3rem;
}

/* ------------------------------------------------------------------------------------ */
/* Lovenjoy Styles */

.lovenjoy {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 3vh 5vh;
    gap: 30vh;
}

.lovenjoy-left {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    gap: 5vh;
}

.lovenjoy-title h1 {
    font-size: 3rem;
}

.lovenjoy-description p {
    font-size: 1rem;
    opacity: 0.7;
}

.lovenjoy-contents {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5vh;
}

.lovenjoy-contents div {
    padding: 2vh 1vh;
}

.lovenjoy-contents-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: 2px solid black;
    border-radius: 3vh;
}

.lovenjoy-left,
.lovenjoy-right {
    width: 50%
}


.lovenjoy-right img {
    width: 100%;
    border-radius: 1vh;
}

.lovenjoy-float {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    position: absolute;
    padding: 5vh 7vh;
    bottom: -40vh;
    right: 60vh;
    background-color: teal;
    border-radius: 2vh;
}

.lovenjoy-float h1 {
    font-size: 4rem;
}

.lovenjoy-float h5 {
    font-size: 1.7rem;
}

/* ------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------ */

/* Responsive Design */

/* For Mobile Device */

@media screen and (max-width:576px) {

    /* Header styles */

    .header {
        background-color: rgba(220, 20, 60, 0.53);
        padding: 5vh 1vh;
        flex-direction: column;
        margin-left: 50%;
        width: 50%;
        gap: 5vh;
        border-top-left-radius: 5vh;
        border-bottom-left-radius: 5vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
        backdrop-filter: blur(1vh);
        position: absolute;
        transform: translate(100%);
        z-index: 11;
    }

    .nav-logo {
        position: relative;
        z-index: 10;
    }

    .nav-logo h1 {
        font-size: 1.5rem;
    }

    .nav ul {
        flex-direction: column;
        gap: 5vh;
    }

    .nav-btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .nav-btn button {
        width: 70%;
    }

    header>.nav-logo {
        display: block;
    }

    .menu {
        height: 5vh;
        width: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.7vh;
        border-radius: 0.7vh;
        position: absolute;
        top: 6.5vh;
        right: 1vh;
        z-index: 999;
        cursor: pointer;
    }

    header>.nav-logo {
        position: absolute;
        top: 7.5vh;
        left: 1vh;
    }

    .menu-open,
    .menu-close {
        width: 80%;
        height: 0.5vh;
        background-color: black;
        border-radius: 5vh;
    }

    .menu-open {
        rotate: 0deg;
    }

    .menu-close {
        rotate: -0deg;
    }

    /* ------------------------------------------------------------------------------------ */
    /* Hero Styles */

    .hero {
        position: relative;
        top: 10vh;
        padding: 5vh 1vh;
        z-index: 3;
    }

    .hero {
        flex-direction: column;
        gap: 5vh;
    }

    .hero-title {
        gap: 1.5vh;
    }

    .hero-title h1:nth-child(1) {
        font-size: 1rem;
    }

    .hero-title h1:nth-child(2) {
        letter-spacing: 0.3vh;
    }

    .hero-description p {
        font-size: 1.1rem;
    }

    .hero-btn button {
        cursor: pointer;
    }

    .hero-img {
        width: 100%;
    }

    .hero-img img {
        object-fit: contain;
    }

    /* ------------------------------------------------------------------------------------ */
    /* Features Styles */

    .features {
        flex-direction: column-reverse;
        position: relative;
        z-index: 4;
        margin-top: 5vh;
        padding: 0vh 1vh;
        gap: 5vh;
        height: 80vh;
    }

    .features-left,
    .features-right {
        width: 100%;
    }

    .features-title {
        font-size: 1.5rem;
    }

    .features-right {
        padding: 0vh 1vh;
    }

    /* ------------------------------------------------------------------------------------ */
    /* Lovenjoy Styles */

    .lovenjoy {
        margin-top: 5vh;
        padding: 2vh 1vh;
        gap: 2vh;
    }

    .lovenjoy-left,
    .lovenjoy-right {
        width: 50%
    }

    .lovenjoy-left {
        padding-top: 0vh;
        gap: 3vh;
    }

    .lovenjoy-title h1 {
        font-size: 2rem;
    }

    .lovenjoy-contents {
        gap: 2vh;
    }

    .lovenjoy-contents div {
        padding: 1vh 1vh;
    }

    .lovenjoy-right {
        height: 100%;
        padding-top: 40vh;
    }

    .lovenjoy-float {
        gap: 1vh;
        position: absolute;
        padding: 2vh 7vh;
        bottom: 55vh;
        right: 7vh;
        background-color: teal;
        border-radius: 2vh;
    }
    
    .lovenjoy-float h1 {
        font-size: 2rem;
    }
    
    .lovenjoy-float h5 {
        font-size: 1rem;
    }
}